.App {
  text-align: center;
  background: #000 url("./assets/lay.png") no-repeat fixed center;
  background-size: 100% 100%;
  width: auto;
  height: 900px;
}

.item {
  background-color: rgba(10, 10, 10, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #101010;
  border-radius: 8px;
  /* border-collapse: collapse; */
  min-width: 250px;
  height: 300px;
  box-shadow: 5px 5px 5px black;
  display: inline-block;
  margin: 8px;

}

h1 {
  font-size: 22px;
}

.data {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

.temp {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: white;
  background: #15159090;
  text-decoration: none;
  margin-bottom: 20px;
}