.App {
  text-align: center;
  background: #000 url("./assets/lay.png") no-repeat fixed center;
  background-size: 100% 100%;
  width: auto;
  height: 900px;
}

.item {
  background-color: rgba(10, 10, 10, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #101010;
  border-radius: 8px;
  min-width: 250px;
  height: 300px;
  box-shadow: 5px 5px 5px black;
  display: inline-block;
  margin: 8px;

}
.city {
  font-size: 85;
  text-shadow: white 0.1em 0.1em 0.2em
}

h2 {
  text-shadow: white 0.1em 0.1em 0.2em;
}

.titulo {
  font-size: 22px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.data {
  font-weight: bold;
  display: flex;
  color: white;
  font-size: 20;
  text-shadow: black 0.1em 0.1em 0.2em;
  justify-content: space-evenly;
}

.temp {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 20;
  text-shadow: black 0.1em 0.1em 0.2em;
  justify-content: space-evenly;
}

img.chuva {
  margin-top: 20px;
  width: 100px;
}


